<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ metaTitle }}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body>
    {% include "partials/navbar.njk" %}
    {% include "partials/header.njk"%}
    <div class="container mx-auto flex flex-wrap" id="content">
        {% block text %}{% endblock %}
		
	{% if stickyAside == true %}
    <aside class="my-4 fixed left-3/4 flex flex-col p-3 bg-gray-700 text-gray-200 text-center rounded-md shadow-lg" id="sidebar">
	{% else %}
	<aside class="my-4 w-full md:w-1/3 flex flex-col items-center px-3 bg-gray-200" id="sidebar">
    {% endif %}    
        {% block sidebar %}{% endblock %}
    </aside>
    </div>
    {% include "partials/footer.njk" %}
    <script src="/static/js/alpine.js"></script>
  </body>
</html>
