<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	{% if author|length %}
	<meta name="author" content="{{author}}">
	{% else %}
	<meta name="author" content="{{default_author}}">
	{% endif %}
	<meta name="publisher" content="Nerdacker.de">
	<meta name="copyright" content="Nerdacker.de">
	{% if description|length %}
	<meta name="description" content="{{description}}">
	{% else %}
	<meta name="description" content="{{default_description}}">
	{% endif %}
	{% if tags|length %}
	<meta name="keywords" content="{{tags}}">
	{% else %}
	<meta name="keywords" content="{{default_keywords}}">
	{% endif %}
	<meta http-equiv="content-language" content="{{ locale }}">
	<meta name="robots" content="index, follow">
    <title>{{ metaTitle }}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
    <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body>
    {% include "partials/navbar.njk" %}
    {% include "partials/header.njk" %}
    <div class="container mx-auto flex flex-wrap" id="content">
        {% block text %}{% endblock %}

	{% if toc == true %}
  <aside x-data="{ open: false, start: true}" @click.away="open = false">
    <div class="z-40 fixed bottom-2 right-2 flex flex-col ">
      {% include "partials/clapbutton.njk" %}
      <button @click="{open = !open, start = false}" :class="{'border-2 border-gray-900 bg-gray-900':open}" class="p-0 w-16 h-16 bg-gray-700 shadow-md rounded-full hover:bg-gray-900 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none">
        <img src="/static/img/toc.svg" width="20" class="w-6 h-6 inline-block"/>
      </button>
    </div>
    <div x-show="!start" class="animated text-white fixed border-t-2 border-gray-300 bg-gray-700 bottom-0 right-0 w-full pb-2 z-30 lg:w-1/3 xl:w-1/4 lg:h-full lg:border-t-0 lg:border-l-2 lg:pt-2"
      :class="{ 'animated animate-slideInUp lg:animate-slideInRight': open, 'animated animate-slideOutDown lg:animate-slideOutRight': !open }">
	{% elif stickyAside == true %}
    <aside class="my-4 fixed left-3/4 flex flex-col p-3 {{ colors.background }} {{ colors.backgroundtext }}  rounded-md shadow-lg" id="sidebar">
	{% else %}
	  <aside class="my-4 w-full md:w-1/3 flex flex-col items-center rounded px-3 shadow bg-gray-100 text-gray-800" id="sidebar">
    {% endif %}   
      {% block sidebar %}{% endblock %}
        {% if toc == true %}
          </div>
        {% endif %}   
    </aside>
    </div>
    {% include "partials/footer.njk" %}
    <script src="/static/js/alpine.js"></script>
    <script src="/static/js/firebase-credentials.js"></script>
    {# <script type="module" src="/static/js/firebase-config.js"></script> #}
  </body>
</html>
