{# {% block content %} #}
<div class="container max-w-3xl mt-6 px-6">
    <header class="w-full container mx-auto">
        <div class="flex flex-col items-center py-12">
            <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="#">
                --Nerdacker--
            </a>
            <p class="text-lg text-gray-600">
                {{title}}
            </p>
        </div>
    </header>

    {{ content | safe }}

</div>
{# {% endblock %} #}
