---
permalink: /{{ locale }}/index.html
layout: default
translationKey: home
---

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}

{% block content %}
<div class="container mx-auto flex flex-col justify-center items-center">
    
    <img src="/static/img/logo.svg" height="300" width="300">

    <p>
        Content garantiert aus ökologischer (Üb)Erzeugung
    </p>

    {% include "partials/overview.njk" %}
</div>
{% endblock %}