---
permalink: /{{ locale }}/index.html
title: Beiträge
layout: default
translationKey: blog
---

{% block content %}

    <div class="container max-w-3xl mt-6 px-6">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <section class="mt-15">
            {% set postslist = collections.posts_de %}

            {% for post in postslist | reverse %}
                <article class="flex flex-col shadow my-4">
                    <!-- Article Image -->
                    {% if post.data.image %}
                    <!-- todo  set max-h-40-->
                    <a href="{{ post.url }}" class="hover:opacity-75">
                        <img src="{{ post.data.image }}">
                    </a>
                    {% endif %}
                    <div class="bg-white flex flex-col justify-start p-6">
                        <!-- Tags -->
                        {% for tag in post.data.tags %}
                            <!-- todo: insert real link here -->
                            <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">{{ tag }}</a>
                        {% endfor %}
                        <h2 class="text-3xl font-bold hover:text-gray-700 pb-4">
                            <a href="{{ post.url | url }}">
                                {% if post.data.title %}
                                    {{ post.data.title }}
                                {% else %}
                                Unbenannt
                                {% endif %}
                            </a>
                        </h2>
                        <!-- Untertitel -->
                        <p href="#" class="text-sm pb-3">
                            <!-- todo insert real link -->
                            <time>{{ post.date | localizedDate(localeRegion) }} von <a href="#" class="font-semibold hover:text-gray-800">{{ post.data.author }}</a></time>
                        </p>
                        <p class="text-base leading-6 text-gray-500 mb-3">
                        </p>
                        {% if post.data.description %}
                            <p class="pb-6">
                                {{ post.data.description }}
                            </p>
                        {% endif %}

                        <p>
                            <a href="{{ post.url | url }}" class="uppercase text-gray-800 hover:text-black">
                              Mehr lesen →
                             </a>
                        </p>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>

{% endblock %}
