---
title: Das sind wir
layout: default
---

{% block content %}

    <section class="mt-15 w-full">
        <div class="my-8 "></div>
        <p class="max-w-6xl text-center mx-auto">We are a small group of IT specialists, nerds and enthusiasts who started this blog to share our projects, experiences and passions with you. </p>

        <div class="my-8"></div>

        {% for author in authors.authors %}
            {% include "partials/authorcard.njk" %}
            <div class="my-8"></div>
        {% endfor %}

    </section>

{% endblock %}
