---
pagination:
  data: authors.authors
  size: 1
  alias: author
  addAllPagesToCollections: true
permalink: /{{locale}}/blog/author/{{author.name | slug}}/
title: Posts
---
{% extends "default-with-aside.njk" %}
{% block text %}
    <section class="w-full md:w-2/3 flex flex-col items-center px-3">
        {% set postslist = collections.posts_de %}

        {% for post in postslist | filterPostsByAuthor(author.name) %}
			{% include "partials/article.njk" %}
        {% endfor %}
    </section>
{% endblock %}
{% block sidebar %}
	{% include "partials/blogsidebar.njk" %}
{% endblock %}