---
permalink: /{{ locale }}/blog/index.html
eleventyComputed:
  title: "Beiträge"
  metaTitle: "{{ site.meta[locale].title }} - {{ title }}"
---

{% extends "default_with_aside.njk" %}
{% block text %}
    <section class="w-full md:w-2/3 flex flex-col items-center px-3">
        {% set postslist = collections.posts_de %}
        {% for post in postslist | sortPostsByDate("desc") %}
			{% include "partials/articleoverview.njk" %}
        {% endfor %}
    </section>
{% endblock %}
{% block sidebar %}
	{% include "partials/blogsidebar.njk" %}
{% endblock %}