---
pagination:
  data: categories.categories
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /{{ locale }}/blog/tag/{{ tag.name | slug }}/index.html
eleventyComputed:
  title: "Beiträge mit dem Tag {{tag[locale]}}"
  metaTitle: "{{ site.meta[locale].title }} - {{ title }}"
---
{% extends "default_with_aside.njk" %}
{% block text %}
    <section class="w-full md:w-2/3 flex flex-col items-center px-3">
        {% set postslist = collections.posts_de %}
        {% for post in postslist | filterPostsByTag(tag.name) | sortPostsByDate("desc") %}
			{% include "partials/articleoverview.njk" %}
        {% endfor %}
    </section>
{% endblock %}
{% block sidebar %}
	{% include "partials/blogsidebar.njk" %}
{% endblock %}