@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

.animated {
	animation-duration: 0.3s;
	animation-fill-mode: forwards !important;
	animation-direction: normal !important;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl font-serif;
}

h2 {
  @apply text-4xl mb-3 lg:text-7xl font-serif;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

h4 {
  @apply text-xl font-bold mb-3;
}

h5 {
  @apply text-lg font-bold mb-3;
}

html {
  scroll-behavior: smooth;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ToC*/

.rtoc {
	a:hover {
		text-decoration: underline white;
	}
	a.active {
		font-weight: bold;
	}
	ol{
	  margin-left: 0px;
		ol{
			margin-left:15px;
			list-style-type: disc;
			ol{
				margin-left:22px;
				list-style-type: circle;
				ol{
					margin-left:29px;
					list-style-type: square;
				}
			}
		}
	}
}

/*Tags*/
tag {
	@apply m-1 rounded-lg bg-gray-300 pt-0.5 pb-0.5 pl-2 pr-2;
	display: inline-block;
}

/*adoc*/

.adoc {
	h1, h2, h3, h4, h5 {
		a {
			order: 1;
			margin-left: 0.2em;
		}
		a::after {
			content: "#";
		}
		display: flex;
		order: 2;
	}
	
	kbd {
		background-color: #eee;
		border-radius: 3px;
		border: 1px solid #b4b4b4;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
		color: #333;
		display: inline-block;
		font-size: .85em;
		font-weight: 700;
		line-height: 1;
		padding: 2px 4px;
		white-space: nowrap;
   }

}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

