---
pageTitle: Index
templateClass: 'index'
layout: landing
---

<script>
  var locale = {
    lang: navigator.language || navigator.userLanguage
  }
  nunjucks.renderString("{{ lang }}", locale)
</script>

{% block content %}

  <h1 class="">Please choose your language</h1>
  <div class="p-24 flex flex-wrap items-center justify-center">
    {% for lang in site.languages %}
      {% set translatedUrl = "/" + lang.code + "/" %}

      <a href="{{ translatedUrl }}">
        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-black rounded-lg max-w-xs shadow-lg">
          <div class="relative pt-10 px-10 flex items-center justify-center">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
            <img class="relative w-40" src="data:image/svg+xml;base64,{{lang.flag}}" alt="{{lang.label}}"/>
          </div>
          <div class="relative text-white px-6 pb-6 mt-6">
            <div class="flex justify-between">
              <span class="block font-semibold text-xl">{{ lang.label }}</span>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}