---
pageTitle: Index
title: Please choose your language
templateClass: 'index'
layout: default
---

{% block content %}
<script>
	var langs = {}
{% for lang in site.languages %}
	{% set translatedUrl = "/" + lang.code + "/blog/" %}
	langs["{{ lang.code }}"] = "{{ translatedUrl }}";
	langs["{{ lang.localeRegion }}"] = "{{ translatedUrl }}";
{% endfor %}
	var lng = window.navigator.userLanguage || window.navigator.language;
	if(langs.hasOwnProperty(lng)) {
		window.open(langs[lng],"_self")
	}
</script>
<div id="content" class="container max-w-3xl mt-6 px-6">
  <div class="flex flex-wrap items-center justify-center">
    {% for lang in site.languages %}
      {% set translatedUrl = "/" + lang.code + "/" %}
	  <script>
		langs["{{ lang.code }}"] = "{{ translatedUrl }}";
	  </script>
      <a href="{{ translatedUrl }}"">
        <div class="flex-shrink-0 m-6 relative overflow-hidden {{ colors.background }} rounded-lg max-w-xs shadow-lg">
          <div class="relative pt-10 px-10 flex items-center justify-center">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3" style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;"></div>
            <img class="relative w-40" src="data:image/svg+xml;base64,{{lang.flag}}" alt="{{lang.label}}"/>
          </div>
          <div class="relative text-white px-6 pb-6 mt-6">
            <div class="flex justify-between">
              <span class="block font-semibold text-xl">{{ lang.label }}</span>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
