---
permalink: /{{ locale }}/index.html
layout: default
---

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}

{% block content %}
<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
    <h1 class="font-sans">
        Welcome to our 
        <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
            {{title}}
        </strong>
    </h1>

    <p>
        Where we release stuff and more!
    </p>

    {% include "partials/overview.njk" %}
</div>
{% endblock %}