<div class="max-w-4xl flex items-start h-auto flex-wrap mx-auto my-32 lg:my-0 ">

    <!--Main Col-->
    <div id="profile"
        class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0 border border-black">

        <div class="p-4 md:p-12 text-center lg:text-left">
            <!-- Image for mobile view-->
            <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center"
                style="background-image: url('{{author.photo}}')"></div>

            <a href="/{{locale}}/author/{{author.name | slug}}"><h1 class="text-3xl font-bold pt-8 lg:pt-0">{{author.name}}</h1></a>
            <div class="mx-auto lg:mx-0 w-full pt-3 border-b-2 border-black opacity-25"></div>

            <!-- Author info grid -->
            <div class="mt-5">
                <div class=" col-span-1 pt-4 text-base flex items-center justify-center lg:justify-start">
                    <img height="24" width="24" src="data:image/svg+xml;base64,{{icons.briefcase}}" />
                    {{author.job}}
                </div>
                <div
                    class="col-span-1 pt-2 text-black text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                   <img height="24" width="24" src="data:image/svg+xml;base64,{{icons.location}}" />
                    {{author.location}}
                </div>
                <div
                    class="col-span-1 pt-2 text-black text-xs lg:text-sm flex items-center justify-center lg:justify-start">
                    <img height="24" width="24" src="data:image/svg+xml;base64,{{icons.link}}" />
                    {{author.website}}
                </div>
            </div>

            <p class="pt-8 text-sm">{{author['description_'+locale]}}</p>

            <div class="mt-6 pb-16 lg:pb-0 w-4/5 lg:w-full mx-auto flex flex-wrap items-center justify-between">

                {% for socialname, socialvalue in author.socials %}
                    <a class="link" href="{{socialvalue}}">
                        <img height="24" width="24" src="data:image/svg+xml;base64,{{icons[socialname]}}" />
                    </a>
                {% endfor %}

            </div>

        </div>

    </div>

    <!--Img Col-->
    <div class="w-full lg:w-2/5 rounded-lg lg:rounded-r-lg lg:rounded-l-none shadow-2xl place-self-stretch">
        <div class="h-full bg-cover bg-center bg-no-repeat rounded-lg lg:rounded-r-lg lg:rounded-l-none hidden lg:block"
            style="background-image: url('{{author.photo}}')"></div>
    </div>

</div>