<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2020. Made with 🍺 by
        {{settings.author}}<span class="invisible md:visible">&nbsp;•&nbsp; </span><br class="block md:hidden" /><a href="{{settings.github}}" class="underline" target="_blank" rel="noopener">View on Github</a>&nbsp;•&nbsp;<a href="/{{locale | defaultIfEmpty("en")}}/impress" class="underline">{{ i18n[locale | defaultIfEmpty("en")].impress }}</a>
    </small>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = "//matomo.nerdacker.de/";
        _paq.push([
          'setTrackerUrl', u + 'matomo.php'
        ]);
        _paq.push(['setSiteId', '1']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.src = u + 'matomo.js';
        s
          .parentNode
          .insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
</footer>
