<!-- Verwendung auf der Startseite -->
<div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">

    {% for category in categories.categories %}
        <div class="p-5 border rounded border-gray-200 hover:border-purple-400">
            <a href="/{{locale}}/tags/{{category.name}}"><h3>{{category[locale]}}</h3></a>
            <ul>
                {% set postslist = collections['posts_' + locale] | filterCategory(category.name) %}
                {% for post in postslist %}
                    <li>
                        <a href="{{post.url}}">
                            <b>{{post.data.title}}</b>
                        </a> ({{post.date | localizedDate(localeRegion)}})</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
